.all {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  
}

body {
  margin: 0;
}

.navigation {
  max-width: 960px;
  margin: 0 auto;
}

.navigation:before {
  content: "";
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0%;
  z-index: -1;
}

.navi_list {
  
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 50px;
  }

  .img_nav {
    float: right;
    margin: 5px;
  }
.navi_box {
  display: inline-block;
  align-content: center;
  }

.navi_list .navi_box a {
  text-decoration: none;
  color: aliceblue;
  display: block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
}

.navi_list .navi_box a:hover {
  background: rgb(255, 58, 58);
}

main {
   margin: 0 auto;
}

.contact_left {
  width: 100%;
  font-weight: 700;
  list-style-type: none;
  
}

.contacts_left {
  display: block;
  width: auto;
  height: auto;
}
div {
  display: block;
}
.left {
  margin: 0px;
  width: 330px;
  height: 100vh;
  position: absolute;
  left:0;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
}
.right {
  width: 80%;
  height: 100vh;
  top: 50px;
  right: 0;
  position: absolute;

  background-color: aliceblue;
  color: black;
}
.footer {
  background-color: rgb(41, 41, 41);
  width: 100%;
  height: 50px;
  bottom: 0;
  position: absolute;
  padding: 0px;
  margin-top: auto;
  
}
.img_footer {
  margin: 5px;
}

.logo {
 margin: 5px;
float: right;
}

.name {
  margin-left: 30px;
}
.about {
  margin-left: 30px;
}
.skills {
  margin-left: 30px;
}
.education {
  margin-left: 30px;
}
.code {
  margin-left: 30px;
}
.languages {
  margin-left: 30px;
}